@using WebApplication5.Models
@model  List<DictCities>
@{
    ViewBag.Title = "addUser";
}

    <div id="app">
        <p>{{ message }}</p>
    </div>

    <script type="text/javascript" src="~/Scripts/vue.min.js"></script>



        <script>
            const v = new Vue({
                el: '#app',
            data: {
                message: 'Hello Vue.js!'
        }
})
    </script>


